.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .preview {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // gap: 1em;

    > * + * + * {
      margin: 3em 0 0 0;
    }

    @media (min-width: 800px) {
      > * + * {
        margin: 0 0 0 1em;
      }
    }
  }
}
