@import '../../variables';

.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 40px;

    @media (min-width: $breakpoint-lg) {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    @media (min-width: $breakpoint-xl) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
