.sign-in {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;

  span {
    color: grey;
  }

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
