.sign-in {
  display: flex;
  flex-direction: column;
  margin-bottom: 5em;

  span {
    color: grey;
  }

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 52px;
  }
}
