.sign-in {
  width: 425px;
  display: flex;
  flex-direction: column;

  span {
    color: grey;
  }

  .title {
    margin: 10px 0;
  }

  .buttons{
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: 800px) {
    width: 430px;
  }
}
