.cart-dropdown {
  position: absolute;
  width: 250px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .cart-items {
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-bottom: 10px;
  }

  button {
    margin-top: auto;
  }
}
