.cart-dropdown {
  position: absolute;
  width: 250px;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  &:hover {
    transition: all 5s ease-in;
  }

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-bottom: 15px;
    transition: all 5s ease-in;

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      width: 6px;
      border-radius: 15px;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
      cursor: pointer;
    }

    &::-webkit-scrollbar-track {
      border-radius: 15px;
    }

    &:hover {
      transition: all 5s ease-in;
      &::-webkit-scrollbar-thumb {
        transition: all 5s ease-in;
        background: rgb(75, 74, 74);
      }
    }
  }

  button {
    margin-top: auto;
  }
}
